[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/inia-es/pkp-lib.git
[submodule "plugins/importexport/duracloud/lib/DuraCloud-PHP"]
	path = plugins/importexport/duracloud/lib/DuraCloud-PHP
	url = git@github.com:asmecher/DuraCloud-PHP
[submodule "plugins/UploadNotification"]
	path = plugins/UploadNotification
	url = https://github.com/inia-es/plugin-uploadNotification
[submodule "plugins/generic/Archives"]
	path = plugins/generic/Archives
	url = https://github.com/inia-es/plugin-archives.git
