[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/inia-es/pkp-lib.git
[submodule "plugins/importexport/duracloud/lib/DuraCloud-PHP"]
	path = plugins/importexport/duracloud/lib/DuraCloud-PHP
	url = https://github.com/asmecher/DuraCloud-PHP
[submodule "public/site"]
	path = public/site
	url = https://github.com/inia-es/ojs-public_site
[submodule "public/journals/1"]
	path = public/journals/1
	url = https://github.com/inia-es/ojs-public_journals_sjar
[submodule "public/journals/2"]
	path = public/journals/2
	url = https://github.com/inia-es/ojs-public_journals_fs
[submodule "plugins/generic/AddEmailsFS"]
	path = plugins/generic/AddEmailsFS
	url = https://github.com/inia-es/plugin-addEmailsFS
[submodule "plugins/generic/Archives"]
	path = plugins/generic/Archives
	url = https://github.com/inia-es/plugin-archives
[submodule "plugins/generic/customizedSjar"]
	path = plugins/generic/customizedSjar
	url = https://github.com/inia-es/plugin-customizedSjar
[submodule "plugins/generic/editorsEmails"]
	path = plugins/generic/editorsEmails
	url = https://github.com/inia-es/plugin-editorsEmails
[submodule "plugins/generic/editorsEmailsFS"]
	path = plugins/generic/editorsEmailsFS
	url = https://github.com/inia-es/plugin-editorsEmailsFS
[submodule "plugins/generic/journalTemplate"]
	path = plugins/generic/journalTemplate
	url = https://github.com/inia-es/plugin-journalTemplate
[submodule "plugins/generic/uploadNotification"]
	path = plugins/generic/uploadNotification
	url = https://github.com/inia-es/plugin-uploadNotification
[submodule "plugins/generic/pdfJsViewer"]
	path = plugins/generic/pdfJsViewer
	url = https://github.com/pkp/pdfJsViewer
[submodule "plugins/generic/clamav"]
	path = plugins/generic/clamav
	url = https://github.com/inia-es/ClamAV-Plugin-for-PKP-Open-Journal-Systems
[submodule "lib/password_compat"]
	path = lib/password_compat
	url = https://github.com/ircmaxell/password_compat.git
[submodule "plugins/reports/counter/classes/COUNTER"]
	path = plugins/reports/counter/classes/COUNTER
	url = https://github.com/ulsdevteam/COUNTER
[submodule "plugins/generic/REDIB"]
	path = plugins/generic/REDIB
	url = https://github.com/inia-es/plugin-REDIB
